@model IEnumerable<HotelConection.PHONG>
@{
    ViewBag.Title = "Index";
}
<div>



    <div class="body">
        <h1 class="body__h1">PHÒNG ĐỀ XUẤT</h1>
        <div class="container__slick">
            @foreach (var item in Model)
            {
            <a href="@Url.Action("Details","Room",new {id=item.MaPhong})">
                <div class="wrap__slick" style="display:table">
                    <div class="wrap__layout">

                        <img src="@item.HinhChinh" alt="" class="wrap__layout--img" />
                        <h2 class="wrap__layout--name">@item.TenPhong</h2>
                        @*<h3 class="wrap__layout--place">@item.</h3>*@
                        <div class="wrap__layout--rating">
                            <i class="fas fa-star wrap__layout--rating-icon"></i>
                            <i class="fas fa-star wrap__layout--rating-icon"></i>
                            <i class="fas fa-star wrap__layout--rating-icon"></i>
                            <i class="fas fa-star wrap__layout--rating-icon"></i>
                            <i class="fas fa-star wrap__layout--rating-icon"></i>
                        </div>
                        <div class="wrap__layout--more">
                            <i class="fas fa-user-friends wrap__layout--more-icon"></i>
                            <p class="wrap__layout--more-p"><b>Số lần được đặt</b>@item.SoLuongDaDat</p>
                        </div>
                        <p class="wrap__layout--evaluate">
                            <b>Lượt Xem</b> @item.LuotView
                        </p>
                        <div class="wrap__layout--vnd">
                            @*<p class="wrap__layout--discount">GIẢM GIÁ 30%</p>*@
                            @*<p class="wrap__layout--cost">2.9 đ</p>*@
                            <p class="wrap__layout--price">@item.Gia VNĐ</p>
                        </div>

                    </div>
                    <button class="wrap__layout--btn">ĐẶT PHÒNG</button>
                </div>
            </a>
            }
        </div>
    </div>


    
    <div class="grid">
        <div class="body1">
            <h1 class="body1__h1">CAM KẾT TỪ TRIP</h1>
            <div class="body1__list">
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck6.svg" alt="" />
                    <p class="body1__list--item-p">
                        Cập nhật xu hướng du lịch mới nhất
                    </p>
                </div>
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck3.svg" alt="" />
                    <p class="body1__list--item-p">Cơ hội du lịch 0đ</p>
                </div>
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck2.svg" alt="" />
                    <p class="body1__list--item-p">
                        Giảm giá hấp dẫn cho thành viên của Trip
                    </p>
                </div>
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck1.svg" alt="" />
                    <p class="body1__list--item-p">Vé máy bay rẻ nhất thị trường</p>
                </div>
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck5.svg" alt="" />
                    <p class="body1__list--item-p">Combo đồng giá 1999k</p>
                </div>
                <div class="body1__list--item">
                    <img class="body1__list--item-img" src="~/Asset/Image/ck4.svg" alt="" />
                    <p class="body1__list--item-p">
                        Combo tự động, chủ động lịch trình
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="download">
        <div class="wrap__download">
            <div class="download__mobile">
                <img src="https://statics.vntrip.vn/images/appBox-iphone.png"
                     alt="" />
            </div>
            <div class="download__content">
                <h1 class="download__content--h1">
                    Du lịch dễ dàng với một ứng dụng duy nhất.
                </h1>
                <p class="download__content--p">
                    Dùng ứng dụng để booking khách sạn trong vòng vài giây với chất
                    lượng tuyệt vời nhất !
                </p>
                <div class="download__content--logo">
                    <img src="https://statics.vntrip.vn/images/logo/appStore.png"
                         alt=""
                         class="download__content--logo-appstore" />
                    <img src="https://statics.vntrip.vn/images/logo/googlePlay.png"
                         alt=""
                         class="download__content--logo-googleplay" />
                </div>
            </div>
        </div>
    </div>


</div>

